{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic"
        }
      }
    ]
  ],
  "env": {
    "cypress-coverage": {
      "plugins": ["istanbul"]
    }
  }
}
